* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header section */
header {
    background-image: url('../images/banner/banner1.png');
    height: 100vh;
}

.header-description-container {
    float: right;
    width: 550px;
    margin-top: 200px;
    margin-right: 200px;
}

.title {
    width: 500px;
    font-size: 65px;
    font-weight: 700px;
    text-align: right;
    padding: 15px;
}

.description {
    width: 500px;
    font-size: 16px;
    font-weight: 400px;
    text-align: right;
    padding: 15px;
}

.btn {
    color: aliceblue;
    border-radius: 5px;
    background: #F15B22;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 15px;
    border-style: none;
}

.button {
    margin-left: 370px;
    padding: 15px;
}

/* main section */

.image-container {
    background: rgba(241, 91, 34, 0.20);
    border-radius: 527.929px;
    width: 527.929px;
    height: 527.929px;
    background-position: center;
    background-blend-mode: screen;
    margin-top: 180px;
}

.main-image {
    margin-top: -196px;
    margin-left: -23px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 130px;
}

.main-description {
    width: 400px;
    margin-top: 200px;
}

.main-title-description {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    padding: 5px;
}

.title-description {
    color: #151414;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    line-height: 25px;
}

.checklist {
    padding: 5px;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
}

.checklist {
    padding: 10px;
}
.check{
    margin-bottom: 7px;
}
.check::before {
    content: '✓';
    color: #16D887;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* My Plan Section */
.my-plans-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    margin-left: 30px;
}

.plan-icons {
    display: flex;
    list-style: none;
    
}

.web-development-section,
.js-section,
.smoking-section,
.ecommerce-section {
    margin-right: 100px;
    text-align: center;
}

.my-plan-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    padding: 50px;
}

.icon-title {
    color: #151414;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
}

/* Footer Section */
/* .w-title {
    /* color: #FFF; */
    /* font-size: 40px;
    font-weight: 700; */ 


/* .watch-cover-container {
    background-image: url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 200px;
    margin: 200px;
    width: 1140px;
    height: 301px;
} */
.text-section{
    background-image: url("../images/gradient2.png"), url("../images/watch.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: block;
    margin-left: 150px;

}
.text-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding-top: 50px;
    margin-left: 50px;
}
.text-btn{
    padding: 15px 30px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 600px;
    margin-top: 30px;
    background-color: white;
    color: #F15B22;
    border-style: none;
    border-radius: 8px;
}