* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* Header section */
header {
    background-image: url('../images/banner/banner1.png');
    height: 100vh;
}

.header-description-container {
    float: right;
    width: 550px;
    margin-top: 200px;
    margin-right: 200px;
}

.title {
    width: 500px;
    font-size: 65px;
    font-weight: 700px;
    text-align: right;
    padding: 15px;
}

.description {
    width: 500px;
    font-size: 16px;
    font-weight: 400px;
    text-align: right;
    padding: 15px;
}

.btn {
    color: aliceblue;
    border-radius: 5px;
    background: #F15B22;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 15px;
    border-style: none;
}
.button{
    margin-left: 370px;
    padding: 15px;
    
}